@import "../../../node_modules/font-awesome/css/font-awesome.min.css";

#myElement {
    background: silver;
    height: 300px;
    text-align: center;
    font: 30px/300px Helvetica, Arial, sans-serif;
  }


h2 {
    margin-top: 5px;
    color: white;
    font-size: 25px;
}

i {
    color: #3E2723;
}

@keyframes resize {
    0% {
    transform: scale(1.0);
    }
    50% {
    transform: scale(1.2);
    }
    100% {
    transform: scale(1.0);
    }
}

.carousel-container {
    padding: 70px 0;
    margin: 50px auto;
    width: 200px;
    height: 400px;
    position: relative;
    perspective: 1000px;
    touch-action: pan-y;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.carousel img {
    width:200px;
    height:200px;
    margin-top: 10px;
}

.carousel-slide-item {
    display: block;
    position: absolute;
    background:#000;
    width: 200px;
    height: auto;
    font-size: large;
    text-align: center;
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;
}

.carousel-slide-item div {
    width: 200px;
    height: 20px;
}

.slide-item-animation {
    animation-name: resize;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-name: resize;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-name: resize;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: 1;
    -o-animation-name: resize;
    -o-animation-duration: 3s;
    -o-animation-timing-function: ease-in-out;
    -o-animation-iteration-count: 1;
}

.left {
    width: 100px!important;
    float: left;
    padding-bottom: 10px;
}

.right {
    width: 100px!important;
    float: right;
    padding-bottom: 10px;
}

.slide-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 25em) {
    .carousel-container {
        padding: 70px 0;
        margin: 50px auto;
        width: 250px;
        height: 550px;
        position: relative;
        perspective: 1000px;
    }
    .carousel {
        height: 100%;
        width: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: transform 1s;
    }
    .carousel img {
        width:200px;
        height:200px;
        margin-top: 10px;
    }
    .carousel-slide-item {
        display: block;
        position: absolute;
        background:#000;
        width: 200px;
        height: auto;
        font-size: large;
        text-align: center;
        color: #FFF;
        opacity: 0.95;
        border-radius: 10px;
    }
    .carousel-slide-item div {
        width: 200px;
        height: 20px;
        font-size: 15px;
    }
}

.icon {
    position: absolute;
    display: inline-block;
    color: #666;
    box-sizing: border-box;
    cursor: pointer;
}

.icon:after, .icon:before {
  content: "";
  box-sizing: border-box;
}

.icon-arrow {
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top: 7px solid;
    border-right: 7px solid;
    margin: 15px;
}

.icon-arrow-left{
    transform: rotate(-135deg);
}

.icon-arrow-right {
    transform: rotate(45deg);
    margin-left: 25px;
}

.controls {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.controls-bottom {
    margin-top: -50px;
}
